.background
{
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register
{
    position: absolute;
    background-color: whitesmoke;
    border: 2px solid #000;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.buttons
{
    display: flex;
    justify-content: space-between;
}