.card_program_st
{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding-top: 10px;
}

.button_st
{
    display: none;
}

.card_program_st:hover
{
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.2);
}

.card_program_st:hover .button_st
{
    display: flex;
    justify-content: center;
}

.btn_upload
{
    border: 1px solid 'green';
}

.cont_btn_st{
    min-height: 60px;
}