.program
{
    min-height: 100vh;
}

.cardList
{
    margin-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
}

.btn_st
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}